.adm-workarea input[type="button"].dnd-order-draggable-item{
	width:120px;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
	text-align: center;
	background: #fff !important;
	border:1px solid #c1c8d0;
	cursor: grab;
	cursor: -webkit-grab;
	margin: 2px;
	border-radius: 2px;
	padding: 0;
	box-shadow: none;
}