.introtext {
  border-bottom-color: #d75cb6;
}
a:hover,
a:focus {
  color: #222;
}
.dark-color:hover,
a.colored,
.colored {
  color: #d75cb6;
}
a {
  color: #d75cb6;
}
a.colored:hover,
.colored:hover {
  color: #222;
}
a:active {
  color: #b52c90;
}
a.grey {
  color: #818181;
}
a.grey:hover {
  color: #d75cb6;
}
.dark_link:hover {
  color: #d75cb6;
}
.btn-inline {
  color: #d75cb6;
}
.btn-inline.black:hover {
  color: #d75cb6;
}
.btn-inline.rounded:hover i {
  background: #d75cb6;
}
body .fa.big-icon {
  background: #d75cb6;
}
body .fa.big-icon.grey {
  color: #d75cb6;
  background: #efefef;
}
.icon-text {
  color: #fff;
  background: #d75cb6;
}
.icon-text .fa {
  color: #fff;
}
.icon-text.grey {
  color: #222;
  background: #efefef;
}
.icon-text.grey .fa {
  color: #d75cb6;
}
a.scroll-to-top.ROUND_COLOR,
a.scroll-to-top.RECT_COLOR {
  background-color: #d75cb6;
}
a.scroll-to-top.ROUND_COLOR:hover,
a.scroll-to-top.RECT_COLOR:hover {
  background-color: #df7dc5;
}
.underline {
  border-bottom: 2px solid #d75cb6;
}
blockquote::before {
  color: #d75cb6;
}
.review .it:before {
  color: #d75cb6;
}
.styled-block {
  border-left-color: #d75cb6;
}
.list.icons .fa {
  color: #d75cb6;
}
table.table th {
  background-color: #d75cb6;
}
hr.colored_line {
  border-color: #d75cb6;
}
.btn.btn-default {
  background-color: #d75cb6;
  border-color: #d75cb6;
  color: #ffffff;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background-color: #dd75c1;
  border-color: #dd75c1;
}
.btn.btn-default.white {
  color: #d75cb6 !important;
  border: 1px solid #faebf6;
  background: #ffffff;
}
.btn.btn-default.white:hover,
.btn-default.white:active,
.btn-default.white:focus {
  color: #ffffff !important;
  border-color: #d75cb6;
  background: #d75cb6;
}
.btn.btn-default.white.white-bg:hover,
.btn-default.white.white-bg:active,
.btn-default.white.white-bg:focus {
  color: #d75cb6 !important;
  border-color: #d75cb6;
  background: #fff;
}
.btn.btn-primary {
  background-color: #00b290;
  border-color: #00b290;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #30c4a8;
  border-color: #30c4a8;
}
.btn.btn-success {
  background-color: #84bc29;
  border-color: #84bc29;
}
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus {
  background-color: #9dca53;
  border-color: #9dca53;
}
.btn.btn-info {
  background-color: #0ca9e3;
  border-color: #0ca9e3;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus {
  background-color: #39baec;
  border-color: #39baec;
}
.btn.btn-warning {
  background-color: #f38b04;
  border-color: #f38b04;
}
.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning:focus {
  background-color: #f8a132;
  border-color: #f8a132;
}
.btn.btn-danger {
  background-color: #dc130d;
  border-color: #dc130d;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger:focus {
  background-color: #e63f3a;
  border-color: #e63f3a;
}
.btn.btn-transparent {
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  color: #000000;
}
.btn.btn-transparent:hover,
.btn.btn-transparent:active,
.btn.btn-transparent:focus {
  background-color: #dd75c1;
  border-color: #dd75c1;
}
.btn.btn-transparent:hover {
  color: #ffffff;
}
.btn.btn-responsive-nav {
  background-color: #d75cb6;
}
.btn.btn-responsive-nav:hover {
  color: #d75cb6;
  border: 1px solid #d75cb6;
  background-color: #ffffff;
  padding: 4px 7px 2px;
}
.btn.btn-link {
  color: #d75cb6;
  border-color: #faebf6;
}
.btn.btn-link:hover {
  color: #dd75c1;
  border-color: transparent;
}
.btn.btn-link:active {
  color: #b52c90;
}
.btn.btn-default.wc.vert .fa {
  background-color: #d75cb6;
}
.btn.btn-default.wc.vert:hover .fa {
  background-color: #dd75c1;
}
.btn.btn-transparent-border:hover {
  background-color: #d75cb6;
  border: 1px solid #d75cb6;
}
.label.label-default {
  background: #93a6bc;
}
.label.label-primary {
  background: #b8c2cd;
}
.label.label-success {
  background: #5cb85c;
}
.label.label-warning {
  background: #f0ad4e;
}
.label.label-danger {
  background: #d9534f;
}
.top-block.colored {
  background: #d75cb6;
}
.top-block .social-icons li a:hover:before {
  background-color: #d75cb6;
}
.top-block .top-block-item  .inline-search-show:hover>span {
  color: #d75cb6;
}
.logo.colored img,
header .line-row,
#mobileheader .logo.colored img {
  background-color: #d75cb6;
}
.logo-row .top-callback .phone .fa,
.logo-row .top-callback .email .fa {
  background-color: #d75cb6;
}
.logo-row .top-callback .email,
.logo-row .top-callback .email a:hover {
  color: #dd75c1;
}
.inline-search-block.fixed.big .search .close-block:hover .close-icons {
  background-color: #dd75c1;
}
#mobileheader .mobileheader-v2 {
  background: #d75cb6;
}
#mobilemenu .menu ul>li.selected a:before {
  background: #d75cb6;
}
#mobilemenu .contacts a:hover {
  color: #d75cb6;
}
#mobilemenu .menu>ul>li.counters .count {
  background: #d75cb6;
}
.style-switcher .switch:hover {
  background: #d75cb6;
}
.style-switcher .header .header-inner {
  background-color: #d75cb6;
  border-color: #d75cb6;
}
.style-switcher .header .header-inner:hover,
.style-switcher .header .header-inner:active,
.style-switcher .header .header-inner:focus {
  background-color: #dd75c1;
  border-color: #dd75c1;
}
.style-switcher .options > a.current:not(.block),
.style-switcher .options .link-item.current:not(.block) {
  background: #d75cb6;
}
.style-switcher .options .link-item.current.block {
  border-color: #d75cb6;
}
.style-switcher .tooltip-link:hover {
  background: #d75cb6;
  border-color: #d75cb6;
}
.style-switcher .options[data-code="BASE_COLOR"] > div.current > a,
.style-switcher .options[data-code="BASE_COLOR"] > div.current > a:hover {
  border-color: #d75cb6;
}
.style-switcher .left-block .section-block.active:before {
  background: #d75cb6;
}
.style-switcher .block-title .dotted-block {
  color: #d75cb6;
}
.top-block .search .search-wrapper {
  background: #d75cb6;
}
.menu-row .search-button-div .fa-close:hover {
  color: #dd75c1;
}
.search .btn-search {
  color: #d75cb6;
}
.mega-menu ul.nav li.active,
.mega-menu ul.nav li:hover {
  background-color: #d75cb6;
}
.mega-menu table td.active .wrap > a,
.mega-menu table td:not(.search-item):hover .wrap > a {
  color: #d75cb6;
}
.topmenu-LIGHT .mega-menu table td.active .wrap > .more-items span:before,
.topmenu-LIGHT .mega-menu table td:not(.search-item):hover .wrap > .more-items span:before {
  background-color: #d75cb6;
}
.mega-menu table td .wrap > a .line-wrapper .line {
  background-color: #d75cb6;
}
.topmenu-LIGHT .mega-menu table .tail {
  border-bottom: 6px solid #d34caf;
}
.mega-menu table .dropdown-menu li > a:hover,
.mega-menu table .dropdown-submenu:hover > a,
.mega-menu table .dropdown-submenu:hover > a:after {
  color: #d75cb6;
}
.mega-menu table .dropdown-menu li.active > a,
.mega-menu table .dropdown-submenu.active > a,
.mega-menu table .dropdown-submenu.active  > a:after {
  color: #d75cb6;
}
.mega-menu table  .wrap > .dropdown-menu > li:first-of-type:before {
  background-color: #d75cb6;
}
.marker-nav {
  background-color: #d75cb6;
}
.mega_fixed_menu .mega-menu table .wrap > .dropdown-menu .dropdown-submenu > a:hover>.arrow>i {
  background-color: #d75cb6;
}
.mega_fixed_menu .svg.svg-close:hover {
  background-color: #d75cb6;
}
.inline-search-block.bg-colored-block.show {
  background-color: #d75cb6;
}
.menu-row.bgcolored .wrap_icon:hover {
  background-color: #dd75c1;
}
.logo_and_menu-row .burger:hover .svg-burger {
  background-color: #dd75c1;
}
body .basket-link.basket-count .count {
  background-color: #d75cb6;
}
.logo_and_menu-row .basket-link:hover .title {
  color: #d75cb6;
}
.top-block-item  .basket-link:hover  .title {
  color: #d75cb6;
}
.top-btn:hover .svg {
  background-color: #d75cb6;
}
a:hover .svg {
  background-color: #d75cb6;
}
.menu-row.bgcolored {
  background-color: #d75cb6;
}
.menu-row.bgcolored .mega-menu table td:hover {
  background-color: #dd75c1;
}
.menu-row.bgcolored .mega-menu table td.active {
  background-color: #cf3ba7;
}
#headerfixed .menu-block.rows:hover {
  background-color: #d75cb6;
}
#headerfixed .menu-block .navs ul li.active > a,
#headerfixed .menu-block .navs ul li a:hover,
#headerfixed .menu-block .navs ul li a:focus {
  color: #d75cb6;
}
.wrap-portfolio-front {
  background: #d75cb6;
}
.head-block .item-link.active .title,
.head-block .item-link.active span,
.head-block .item-link.active .btn-inline {
  color: #d75cb6;
}
.head-block .item-link.active .title span:before,
.head-block .item-link.active .title .btn-inline:before {
  background: #d75cb6;
}
.search-tags-cloud .tags a:hover {
  background: #d75cb6;
}
.basket_top .dropdown {
  border-color: #d75cb6;
}
.basket_top .dropdown:before {
  border-bottom-color: #d75cb6;
}
.remove:hover:before {
  background-color: #d75cb6;
}
.basket_order .description:before {
  background: #d75cb6;
}
.basket.fly .opener .count {
  background: #d75cb6;
}
.basket.fly.DARK .opener .count {
  background: #d75cb6;
}
.basket.fly.COLOR .opener {
  background: #d75cb6;
  border-color: #d75cb6;
}
.basket.fly.COLOR .opener:hover {
  background: #dd75c1;
  border-color: #dd75c1;
}
header.topmenu-DARK:not(.fixed) .basket_top .count {
  background: #d75cb6;
}
header.topmenu-COLOR:not(.fixed) .basket_top:hover {
  background: #dd75c1;
}
.breadcrumb a:hover {
  color: #222;
}
.breadcrumb a:active {
  color: #b52c90;
}
.breadcrumb li:hover > a {
  color: #dd75c1;
}
.pagination .active a,
.pagination .active span,
.pagination a:hover,
.pagination span:hover,
.pagination a:focus,
.pagination span:focus,
.pagination a:active,
.pagination span:active {
  border-left-color: #d75cb6 !important;
  background-color: #d75cb6 !important;
}
.pagination li.active + li a,
.pagination li.active + li span,
.pagination li:hover + li a,
.pagination li:focus + li span,
.pagination li:focus + li a,
.pagination li:hover + li span {
  border-left-color: #d75cb6 !important;
}
.pagination a:hover .fa {
  color: #d75cb6;
}
.bottom-menu .item:hover .title a,
.bottom-menu .item:hover .title,
.bottom-menu .item.active .title a,
.bottom-menu .item.active .title {
  color: #dd75c1 !important;
}
footer .print-link:hover {
  color: #dd75c1;
}
footer .print-link:hover svg path {
  fill: #dd75c1;
}
.social-icons li:hover a {
  border-color: #dd75c1;
  background-color: transparent;
}
.side-menu > li > a:hover,
.side-menu li > a:hover:before,
.side-menu li > a:active:before,
.side-menu li > a:focus:before {
  color: #dd75c1;
}
.side-menu > li.active > a,
.side-menu li.active > a:before {
  color: #dd75c1;
}
.side-menu .submenu > li.active > a {
  color: #d34caf;
}
.side-menu .submenu > li > a:hover {
  color: #dd75c1;
}
.side-menu > li > a:hover .icons svg path {
  fill: #dd75c1;
}
.tabs .nav-tabs li.active a {
  color: #d75cb6;
}
.tabs .nav-tabs li.active a:before {
  background: #d75cb6;
}
.tabs .nav-tabs a:hover,
.tabs .nav-tabs a:active,
.tabs .nav-tabs a:focus {
  color: #d75cb6;
}
.catalog.detail .active .title-tab-heading,
.catalog.detail .title-tab-heading:focus,
.catalog.detail .title-tab-heading:active,
.catalog.detail .title-tab-heading:hover {
  color: #d75cb6;
}
.accordion-head.accordion-open a,
.accordion-head:hover a {
  color: #d75cb6;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
  box-shadow: none;
  background: #d75cb6 !important;
}
.detail .gallery-block .small-gallery ul.items li.flex-active-slide,
.detail .gallery-block .small-gallery ul.items li:hover {
  border-color: #d75cb6;
}
.flex-direction-nav a:hover,
.flex-direction-nav a:hover::before {
  color: #dd75c1;
  border-color: #dd75c1;
}
.color-controls .flex-direction-nav a {
  background: #d75cb6;
}
.color-controls .flex-direction-nav a:hover {
  background: #dd75c1;
}
span.zoom {
  background-color: #d75cb6;
}
span.zoom:hover {
  background-color: #dd75c1;
}
.wr_scrollbar .scrollbar .handle {
  background: #d75cb6;
}
.page404 .i404 {
  color: #d75cb6;
}
.jqmClose.top-close:hover {
  color: #dd75c1;
}
.form.contacts .title {
  border-color: #d75cb6;
}
.form .form-header {
  border-top-color: #d75cb6 !important;
}
.form-header i {
  background: #d75cb6;
}
.banners-small .item .title a:hover,
.more_text_ajax:hover {
  color: #d75cb6 !important;
}
.more_text_ajax:hover:after {
  background-color: #d75cb6;
}
.more_text_ajax:hover svg path,
.ajax_load_btn:hover .more_text_ajax svg path {
  fill: #d75cb6;
}
.teasers.item-views.front.icons .item a:hover {
  color: #d75cb6 !important;
}
.front-projects.item-views.table .item .info {
  border-top-color: #d75cb6;
}
.front-projects.item-views.table .item a:hover .info {
  background: #324860;
}
.front-projects.item-views.table .item a:hover .info:before {
  border-bottom-color: #d75cb6;
}
.item-views .item .title a:hover {
  color: #d75cb6;
}
.uploader:hover .action {
  background-color: #dd75c1;
  border-color: #dd75c1;
}
p.drop-caps:first-child:first-letter {
  color: #d75cb6;
}
p.drop-caps.secundary:first-child:first-letter {
  background-color: #d75cb6;
}
.label-info {
  background-color: #d75cb6;
}
section.toggle label {
  color: #d75cb6;
  border-color: #d75cb6;
}
section.toggle.active > label {
  background-color: #d75cb6;
  border-color: #d75cb6;
}
.progress-bar-primary {
  background-color: #d75cb6;
}
.slider-container .tp-caption a:not(.btn):hover {
  color: #df7dc5;
}
.tp-bullets .bullet.selected,
.tp-bullets .bullet:hover {
  background: #d75cb6 !important;
}
.fa.colored {
  background: #d75cb6;
}
.docs-block .iblocks:hover .icons-block a,
.iblocks .icons-block a:hover {
  background: #d75cb6;
}
.docs-block .iblocks:hover .text-block .text {
  color: #d75cb6 !important;
}
.item-views .property.price .fa,
.item-views .property.price .price_val {
  color: #d75cb6;
}
.item-views .item:hover .property .fa {
  color: #d75cb6;
}
.link-block-more .dark-color:hover:before {
  background: #d75cb6;
}
.tabs.item-views.table .title,
.history.item-views.table .title {
  color: #d75cb6;
}
.history.item-views .title {
  color: #d75cb6;
}
.detail .galery #slider.flexslider:hover .flex-direction-nav {
  background: #dd75c1;
}
.detail .galery #carousel .slides li.flex-active-slide {
  border-color: #d75cb6;
}
.detail .reviews .item .review .icons:before {
  color: #d75cb6;
}
.detail .galery #carousel .flex-direction-nav a:hover::before {
  color: #d75cb6;
}
.catalog.group .price .price_val {
  color: #d75cb6;
}
.select-outer i.fa {
  color: #d75cb6;
}
.buy_block .counter .ctrl:hover {
  background-color: #d75cb6;
  border-color: #d75cb6;
}
.item-views.table.bblock .item .info {
  border-top-color: #d75cb6;
}
.reviews.item-views.front .item .image:before {
  background-color: #d75cb6;
}
.item-views .item .bottom-props .value {
  background-color: #d75cb6;
}
.filter-action.active,
.display-type .view-button:hover,
.display-type .view-button.cur {
  background-color: #d75cb6;
}
.bx_filter .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar_V,
.bx_filter.bx_filter_vertical .bx_filter_popup_result {
  background-color: #d75cb6;
}
.bx_filter .bx_ui_slider_track .bx_ui_slider_handle {
  border-color: #d75cb6;
}
.catalog.bx_filter .bx_filter_parameters_box_title:hover:before,
.catalog.bx_filter .bx_filter_parameters_box_title:hover {
  color: #d75cb6;
}
.bx_filter input[type="checkbox"] + label:before,
.filter input[type="radio"] + label:before,
.bx_filter .bx_filter_select_arrow,
.common_select .common_select-link .trigger {
  background-color: #d75cb6;
}
.bx_filter input[type="checkbox"]:checked + label:after,
.filter input[type="checkbox"]:checked + label:after {
  background-color: #d75cb6;
  border-color: #d75cb6;
}
.bx_filter_section .btn.btn-transparent {
  color: #d75cb6;
}
.subscribe-edit-main .form input[type=checkbox] + label:hover:after,
.subscribe-edit-main .form input[type=checkbox]:checked + label:after,
.subscribe-edit-main .form input[type=radio] + label:hover:after,
.subscribe-edit-main .form input[type=radio]:checked + label:after {
  background-color: #d75cb6;
  border-color: #d75cb6;
}
.subscribe-edit-main font.notetext {
  border-color: #d75cb6;
}
@media (max-width: 767px) {
  .basket_top .icon .count {
    background: #d75cb6 !important;
  }
}
.page-top-wrapper.color {
  background: #d75cb6;
}
