.demo-one-icon {
	float: left;
	width: 75px;
	height: 39px;
	background: url(images/button01.png) left center no-repeat;
	margin-top: -3px;
	margin-left: -5px;
}


.demo-two-icon {
	float: left;
	width: 150px;
	height: 39px;
	background: url(images/button02.png) left center no-repeat;
	margin-top: -3px;
	margin-left: -5px;
}


.main-ui-select-inner {
	max-height: 177px;
	overflow: auto;
}

.main-ui-filter-search {
	background: #ffffff;
	position: relative;
	height: 38px;
	border: none;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 1px #c8d1d6;
	box-shadow: inset 0 0 0 1px #c8d1d6;
	font: 15px/38px "Helvetica Neue", Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	z-index: 1;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.main-ui-filter-info {
	border-bottom: 1px rgba(0,0,0,.3) dashed;
}


.main-ui-filter-search .main-ui-filter-search-square {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	flex-basis: min-content;
	margin: 4px;
	white-space: nowrap;
}

.main-ui-filter-search .main-ui-filter-search-square .main-ui-square-item {
	max-width: 180px;
}

.main-ui-select-inner-item {
	margin-bottom: 0;
}

.popup-select-content .main-ui-select-inner-item {
	padding-left: 10px;
	padding-right: 10px;
}

.main-ui-select-inner-item.main-ui-select-inner-item-selected {
	background: #f3f6f8;
}


.main-ui-filter-new-filter .main-ui-filter-edit-mask {
	display: block;
}


.main-ui-control.main-ui-select .main-ui-square-search,
.main-ui-control.main-ui-select .main-ui-square-search-item {
	opacity: 0;
	width: 0;
	height: 0;
}

.main-ui-control.main-ui-multi-select .main-ui-square-search {
	position: relative;
}

.main-ui-control.main-ui-multi-select .main-ui-square-search::before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.main-ui-control.main-ui-multi-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.main-ui-filter-number-group .main-ui-control-field:first-of-type {
	max-width: 150px;
}

.main-ui-filter-sidebar-item {
	background: #f8fafb;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.main-ui-filter-sidebar-item-ondrag {
	z-index: 1;
	border-color: transparent!important;
}


.main-ui-filter-sidebar-item-ondrag::after {
	background: #f8fafb;
	display: block;
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: -18px;
	right: -20px;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
	z-index: -1;
}


.main-ui-filter-field-button-container {
	display: none;
}

.main-ui-filter-reset-link {
	position: absolute;
	cursor: pointer;
	color: #80868e;
	padding-top: 6px;
	padding-bottom: 6px;
	z-index: -1;
}

.main-ui-filter-reset-link::before {
	background-image: url(images/sprite-interface.min.svg);
	background-position: 1px -19px;
	background-repeat: no-repeat;
	background-size: 9px;
	opacity: .4;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 8px;
	left: -1px;
	content: '';
	display: inline-block;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

.main-ui-filter-reset-link:hover::before {
	opacity: .8;
}

.main-ui-filter-reset-link:hover {
	color: #000000;
}

.main-ui-filter-confirm-content {
	text-align: center;
	min-width: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom: 1px rgba(0,0,0,.05) solid;
}


.main-ui-square-selected {
	border: 1px #3BB4E3 solid;
}

.main-ui-square {
	box-sizing: border-box;
}


.main-ui-filter-popup-field-list {
	max-width: 630px;
	padding: 25px;
	box-sizing: border-box;
	/*column-rule: 1px rgba(0,0,0,.03) solid;*/
}

.main-ui-filter-field-list-1-column {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

.main-ui-filter-field-list-2-column {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.main-ui-filter-field-list-3-column {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}


.main-ui-hide {
	display: none;
}


.main-ui-popup-show-animation {
	animation: popupShowAnimation 200ms;
	animation-fill-mode: both;
}

.main-ui-popup-close-animation {
	animation: popupCloseAnimation 200ms;
	animation-fill-mode: both;
}

.main-ui-popup-fast-show-animation {
	animation: popupShowAnimation 150ms;
	animation-delay: 10ms;
	animation-fill-mode: both;
}

.main-ui-popup-fast-close-animation {
	animation: popupCloseAnimation 150ms;
	animation-fill-mode: both;
}


.main-ui-remove-animation {
	perspective: 100px;
	animation: removeAnimation 250ms;
	animation-fill-mode: both;
}

.main-ui-control.main-ui-date,
.main-ui-control.main-ui-number {
	min-width: auto;
	padding: 0;
	border: 0;
}

.main-ui-control.main-ui-date::before,
.main-ui-control.main-ui-number::before{
	display: none;
}

.main-ui-date-input,
.main-ui-number-input {
	width: 100%;
	box-sizing: border-box;
	padding: 0 27px 0 30px;
	line-height: 38px;
}


.main-ui-date-button {
	position: absolute;
	left: 1px;
	top: 1px;
	display: block;
	height: 38px;
	width: 30px;
	background: url(images/main-ui-filter.svg) 6px -232px no-repeat;
	opacity: .4;
	z-index: 1;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}

.main-ui-date-button:hover {
	opacity: .9;
}

.main-ui-control-input {
	position: relative;
	padding: 0 10px 0 30px;
	height: 38px;
	width: 100%;
	border: 1px solid rgba(83,92,105,.2);
	border-radius: 2px;
	background: #fff;
	font: 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline: none;
}

.main-ui-number-input {
	padding-left: 10px;
}

input[type=number].main-ui-number-input::-webkit-inner-spin-button,
input[type=number].main-ui-number-input::-webkit-outer-spin-button {
	margin: 0;
	height: 16px;
	width: 12px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%227%22%20height%3D%229%22%20viewBox%3D%220%200%207%209%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%235e6674%3B%20fill-rule%3A%20evenodd%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20id%3D%22Polygon_1_copy_25%22%20data-name%3D%22Polygon%201%20copy%2025%22%20class%3D%22cls-1%22%20d%3D%22M3.5%209L0%205.72h7zm0-9L7%203.28H0z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}


.main-ui-control-entity {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	border: 1px solid rgba(83,92,105,.2);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.main-ui-control-entity .main-ui-square {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	flex-basis: min-content;
	margin: 4px;
}

.main-ui-control-entity .main-ui-control.main-ui-control-string[type="text"] {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	flex-basis: min-content;
	width: auto;
	border: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.main-ui-control-entity .main-ui-control.main-ui-control-string[type="text"]:nth-child(2) {
	padding-left: 4px;
}


/*!* Field group *!*/
.main-ui-control-field-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	margin-bottom: 17px;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.main-ui-control-field-group .main-ui-control-field {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	flex-basis: min-content;
	width: auto;
	float: left;
	margin-right: 10px;
	min-width: auto;
	margin-bottom: 0;
}

.main-ui-control-field-group .main-ui-control-field:nth-last-of-type(2) {
	margin-right: 0;
}

.main-ui-control-field-group .main-ui-control-field .main-ui-item-icon.main-ui-delete {
	display: none;
}

.main-ui-control-field-group .main-ui-control.main-ui-select {
	padding-bottom: 2px;
	white-space: nowrap;
}

.main-ui-control-field-group .main-ui-control {
	display: table;
}

.main-ui-control-field-group .main-ui-item-icon-container {
	opacity: 0;
}

.main-ui-control-field-group:hover .main-ui-item-icon-container {
	opacity: 1;
}

.main-ui-control-field-group .main-ui-filter-field-line {
	float: left;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.main-ui-control-field-group .main-ui-control-field + .main-ui-filter-field-line {
	margin-left: 0;
	margin-right: 10px;
}
/*!* Field group *!*/


.main-ui-filter-field-list-item {
	height: auto;
	min-height: 33px;
	min-width: 185px;
}

.main-ui-filter-field-list-item .main-ui-select-inner-label {
	position: relative;
	line-height: 19px;
	width: auto;
	height: auto;
	margin-top: 6px;
	margin-left: 27px;
}

.main-ui-filter-field-list-item .main-ui-select-inner-label::before {
	position: absolute;
	top: 2px;
	left: -32px;
}

.main-ui-control-field-label {
	position: absolute;
	top: -1px;
	left: 2px;
	color: #a9adb2;
	display: inline-block;
	width: 100%;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	opacity: .7;
	cursor: default;
}

.main-ui-filter-wield-with-label {
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom: 0;
}

.main-ui-control-string:focus {
	outline: none;
}


.main-ui-control.main-ui-custom.main-ui-custom-style {
	line-height: 36px;
}

.main-ui-control.main-ui-custom.main-ui-custom-style * {
	display: inline-block;
	line-height: normal;
}

.main-ui-item-icon-block .main-ui-item-icon.main-ui-search,
.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete {
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-ms-transition: all 150ms;
	-o-transition: all 150ms;
	transition: all 150ms;
}

.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete {
	opacity: 0;
	right: -30px;
}

.main-ui-show.main-ui-item-icon-block  .main-ui-item-icon.main-ui-search {
	right: 25px;
}

.main-ui-show.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete {
	right: 5px;
	opacity: .4;
}

.main-ui-show.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete:hover {
	opacity: 1;
}


.main-ui-number .main-ui-control-value-delete {
	right: 24px;
}

.main-ui-filter-field-container input:focus,
.main-ui-focus {
	border: 1px solid rgba(81, 203, 238, 1);
}

.main-ui-filter-field-container .main-ui-square-search-item:focus {
	border: none;
}

.main-ui-square-search-item {
	opacity: 0;
}

.popup-select-content .main-ui-checked {
	background: #f3f6f8;
	font-weight: bold;
}

.main-ui-disable-scroll {
	position: fixed;
	overflow-y: scroll;
	overflow-x: auto;
}

.bx-mac .main-ui-mac-scroll::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

.bx-mac .main-ui-mac-scroll::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.main-ui-filter-default-preset {
	display: none;
}

.main-ui-filter-default-preset.main-ui-filter-edit {
	display: block;
	opacity: .6;
}


.main-ui-filter-sidebar-item .main-ui-item-icon.main-ui-filter-icon-restore {
	background: none;
	display: none;
	right: -20px;
}

.main-ui-item-icon.main-ui-filter-icon-restore::before {
	background: url(images/sprite-interface.min.svg) 1px -19px no-repeat;
	background-size: 90%;
	position: absolute;
	display: inline-block;
	content: '';
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -5px;
	width: 10px;
	height: 10px;
}

.main-ui-filter-sidebar-item.main-ui-filter-edit.main-ui-filter-default-preset .main-ui-filter-icon-grab,
.main-ui-filter-sidebar-item.main-ui-filter-edit.main-ui-filter-default-preset .main-ui-filter-icon-edit,
.main-ui-filter-sidebar-item.main-ui-filter-edit.main-ui-filter-default-preset .main-ui-delete {
	display: none;
}

.main-ui-filter-default-preset .main-ui-filter-icon-restore {
	display: inline-block;
}

.main-ui-filter-add-container .main-ui-filter-reset-link {
	position: absolute;
	top: -1px;
	left: 0;
	width: 155px;
	pointer-events: auto;
	color: #80868e;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0;
}

.main-ui-disable.main-ui-filter-add-container {
	opacity: 1;
	z-index: 1;
}

.main-ui-disable.main-ui-filter-add-container * {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-add-item {
	display: none;
	position: absolute;
	opacity: 0;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-add-edit {
	opacity: .4;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-reset-link {
	opacity: .8;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-reset-link:hover {
	opacity: 1;
	color: #000000;
}

.main-ui-filter-field-restore-items {
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(83,95,105, .5);
	border-bottom: 1px solid transparent;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	cursor: pointer;
	margin-left: 16px;
}

.main-ui-filter-field-restore-items:hover {
	border-bottom: 1px solid rgba(83,95,105, .8);
	color: rgba(83,95,105, .8);
}

.main-ui-filter-no-search .main-ui-filter-search-filter {
	pointer-events: none;
	color: rgba(0,0,0,0);
}

.main-ui-filter-no-search .main-ui-filter-search-square + .main-ui-filter-search-filter {
	opacity: 0;
}

.main-ui-filter-no-search .main-ui-filter-search-square:nth-last-child(3)::after {
	display: none;
}

.main-ui-filter-field-button-item {
	padding: 0 0 0 12px;
}

.webform-small-button .main-ui-filter-field-button-item {
	padding: 0;
}

.main-ui-filter-field-button-inner {
	position: relative;
}

.main-ui-filter-for-all {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -9px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-ui-filter-for-all input,
.main-ui-filter-for-all label {
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}


.main-ui-filter-for-all input {
	opacity: .8;
}

.main-ui-filter-for-all label {
	opacity: .6;
}

.main-ui-filter-for-all input:checked,
.main-ui-filter-for-all input:checked + label {
	opacity: 1;
}


@keyframes removeAnimation {
	0% {
		-webkit-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}

	100% {
		-webkit-transform: rotateX(90deg);
		-moz-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		-o-transform: rotateX(90deg);
		transform: rotateX(90deg);
		opacity: 0;
	}
}


@keyframes popupShowAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,5px,0);
		-moz-transform: translate3d(0,5px,0);
		-ms-transform: translate3d(0,5px,0);
		-o-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0px,0);
		-moz-transform: translate3d(0,0px,0);
		-ms-transform: translate3d(0,0px,0);
		-o-transform: translate3d(0,0px,0);
		transform: translate3d(0,0px,0);
	}
}

@keyframes popupCloseAnimation {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0,0px,0);
		-moz-transform: translate3d(0,0px,0);
		-ms-transform: translate3d(0,0px,0);
		-o-transform: translate3d(0,0px,0);
		transform: translate3d(0,0px,0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,25px,0);
		-moz-transform: translate3d(0,25px,0);
		-ms-transform: translate3d(0,25px,0);
		-o-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0);
	}
}