.detail.vacancy{margin: 0px 0px 45px;}
.detail.vacancy .preview-text{background:#f5f5f5;padding:40px 48px 18px;}
.detail.vacancy .text{padding:40px 48px 18px;}
.detail.vacancy .properties{color:#555555;font-weight:bold;font-size:1em;margin:0px;padding:0px 48px 7px;}
.detail.vacancy .properties .inner-wrapper{font-size:1em;display:block;padding:0px 0px 12px;}
.detail.vacancy .buttons{padding:0px 48px 25px;}
.detail.vacancy .buttons .btn{margin:0px;}